body{
margin: 0;
padding: 0;
font-family:Roboto-Regular;
color: #8e8e8e;
font-size: 16px;
}
@font-face{
font-family:Lato-Bold ;
src: url(../fonts/Lato-Bold.ttf);
}
@font-face{
font-family:Lato-Regular ;
src: url(../fonts/Lato-Regular.ttf);
}
@font-face{
font-family:Roboto-Medium ;
src: url(../fonts/Roboto-Medium.ttf);
}
@font-face{
font-family:Roboto-Regular ;
src: url(../fonts/Roboto-Regular.ttf);
}
/*header start*/ 
header{

}
.logo {
    font-family: Lato-Regular;
    font-size: 30px;
    color: #333333;
}
.menu{

}
.menu ul li a{
    font-family: 'Lato-Regular';
    color: #8e8e8e !important;
}
.menu ul li a:hover{
	color: black !important;

}
.menu ul li:last-child a{
margin-right: 0;
}
.nav_sch{

}
.btn-src{
color: #8e8e8e;
}
.btn-src:hover{
color: black;
}
.btn-src:focus{
box-shadow: none;
}
.btn-src i{

}
.dropdown_custom[data-bs-popper] {
    top: 60px;
    left: -350px;
    
}
.dropdown_custom{
    min-width: 400px;
    padding: 5px 5px !important;
}
.bs_icon{
color: black;

}
/*header end*/
/*slider start*/
.slider{
background-image: url(../images/slider.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.s_1{
margin-top: 200px;
margin-bottom: 200px;
}
.s_1 h1 {
    font-family: 'Lato-bold';
    font-size: 60px;
    color: #ffffff;
}
.s_1 p {
    color: #ffffff;
    word-spacing: 1px;
    padding: 20px 15px 50px 0 !important;
}
.s_1 button{
    padding: 10px 15px;
   transition: 0.5s;
   background-color: white;
}
.s_1 button:hover{
transform: scale(0.8);
}
.s_1 button:focus{
box-shadow: none;
}
.slider_icon{
margin-left: 10px;
}

.ccp,.ccn{
    align-items: flex-end;
   color: #8e8e8e;
}
.ccp span,.ccn span{ 
    background-image: none;
}
.ccp{
color: #8e8e8e;
left: 200px;
}
.ccp:hover{
color: #333333;
}
.ccn{
right: 0;
left: 280px;
color: #8e8e8e;
}
.ccn:hover{
color: #333333;
}
/*slider end*/
/*service start*/
.service{

}
.s_title{

}
.arrow {
    width: 1px;
    height: 50px;
    background-color: black;
    display: inline-block;
}
.s_h1 {
    font-family: 'Lato-Regular';
    font-size: 30px;
    color: #333333;
    padding-bottom: 30px !important;
}
.s_p{
    padding-bottom: 60px !important;
}
.s_service{
    text-align: center;
    border: 1px solid #8e8e8e;
    padding: 51px 20px !important;
}
.s_service:hover{
color: #333333;
}
.s_icon {
    width: 70px;
    background-color: white;
    margin: 0 auto;
    margin-top: -71px;
}
.s_icon i{
font-size: 60px;
transition: 0.5s;
}
.s_icon i:hover{
transform: translate3d(10px, 0px, 0px);
}
.c_h1 {
    font-family: 'Lato-Bold';
    font-size: 18px;
    color: #333333;
    margin: 40px 0 30px 0;
}

 .s_line {
    height: 1px;
    width: 100px;
    background-color:#8e8e8e;
    margin: 15px auto;
}
 .s_line:hover {
    background-color:#333333; 
}

.c_p{
 margin-bottom: 30px;
}

.service-btn {
    text-decoration: none;
    color: #8e8e8e;
  
}
.service-btn:hover {
    color: #333333;
}
.service-btn span{
    font-size: 16px;
}
.service-btn i{
    margin-left: 15px;
}
/*service end*/
/*about us start*/
.about_us{

}
.c_abusimg{

}
.abimg_custom{

}
.c_abustext{

}
.abs_h1{
    font-family: 'Lato-Regular';
    font-size: 30px;
    color: #333333;
}
.abs_p{
    padding: 20px 0;
}
.abs_p1{
margin-bottom:82px ;
}
.abs_btn{
text-decoration: none;
    border: 2px solid;
    color:#8e8e8e;
    padding: 10px 45px !important;
}
.abs_btn:hover{
color:#333333;
}
.abs_btn i{
margin-left: 10px;
}

/*about us start*/